doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Editar Médico
    link(rel='stylesheet', href='/css/styleadm.css')
  body
    header
      h1 Editar Médico

    // Formulario de edición de médico
    form(action='/administrador/editar-medico/' + medico.id_medico method='POST')
      label(for='nombre') Nombre:
      input#nombre(type='text' name='nombre' value=medico.nombre required)

      label(for='apellido') Apellido:
      input#apellido(type='text' name='apellido' value=medico.apellido required)

      label(for='dni') DNI:
      input#dni(type='number' name='dni' value=medico.dni required)

      label(for='id_usuario') ID de Usuario:
      input#id_usuario(type='number' name='id_usuario' value=medico.id_usuario required)

      button(type='submit') Modificar Médico

    a(href='/administrador') Volver a la lista de médicos 
