doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Eliminar Médico
    link(rel='stylesheet', href='/css/styleadm.css')
  body
    header
      h1 Médico Eliminado

    if success
      p El médico #{medico.nombre} #{medico.apellido} ha sido eliminado exitosamente.
    else
      p Hubo un error al eliminar al médico.

    a(href='/administrador') Volver al listado de médicos
