html(lang='es')
  head
    meta(charset='utf-8')
    title Calendario de Turnos
    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js')
    link(rel='stylesheet', href='/css/styles.css')
  body
    include partials/_header

    // Selector de especialidad
    label(for='especialidad') Selecciona una especialidad:
    select#especialidad(name='especialidad')
      option(value='') -- Selecciona --

    // Calendario
    div#calendar

    script.
      document.addEventListener('DOMContentLoaded', async function() {
        const calendarEl = document.getElementById('calendar');
        const especialidadSelect = document.getElementById('especialidad');

        // Obtener especialidades y llenar el select
        try {
          const response = await fetch('/especialidades/obtenerEspecialidades');
          const especialidades = await response.json();
          especialidades.forEach(especialidad => {
            const option = document.createElement('option');
            option.value = especialidad.id_especialidad;
            option.textContent = especialidad.especialidad;
            especialidadSelect.appendChild(option);
          });
        } catch (error) {
          console.error("Error al cargar especialidades:", error);
        }

        // Iniciar el calendariooo
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: [],
          eventClick: function(info) {
            alert('Has hecho clic en un día disponible');
          }
        });

        // Cargar eventos segun especialidad
        async function cargarEventos(especialidadId) {
          const response = await fetch(`/horarios/obtenerHorarios?id_especialidad=${especialidadId}`);
          const horarios = await response.json();




          // Remover eventos existentes y cargar los nuevos
          calendar.removeAllEvents();
          calendar.addEventSource(eventos);
        }

        // Escuchar cambios en el selector de especialidad
        especialidadSelect.addEventListener('change', function() {
          const especialidadId = especialidadSelect.value;
          if (especialidadId) {
            cargarEventos(especialidadId);
          } else {
            calendar.removeAllEvents(); // Limpiar el calendario si no hay especialidad seleccionada
          }
        });

        calendar.render();
      });
