html(lang='es')
  head
    meta(charset='utf-8')
    title Calendario de Turnos
    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js')  // FullCalendar CDN
    link(rel='stylesheet', href='/css/styles.css')
  body
    include partials/_header

    // Selector de especialidad
    label(for='especialidad') Selecciona una especialidad:
    select#especialidad(name='especialidad')
      option(value='') -- Selecciona --

    // Calendario
    div#calendar

    // Contenedor para mostrar los turnos
    div#turnos-container
      h2 Turnos disponibles
      div#turnos-container

    script(src='/js/index.js')
